body{
    background-color: #a8ebff;
}
a{
    color: #000;
}
h1{
    position: static;
    padding-left: 40px;
}
h1.fnt-red{
    color: red;
}
h1.fnt-blue{
    color:blue;
}
p.fnt-blue{
    color: blue;
}
span.fnt-red{
    color:red;
}
span#nombre_alumno{
    color:green;
    
}
ul.index{
    padding-left: 130px;
}
div.index{
    text-align: center;
}
div.p1 {
    margin: left;
    width: 25%;
    height: 300px;
    text-align: center;
    background-color:#ffffff;
    border: 2px dashed black;
    font-weight: bold;
    padding-top: 25px;
    margin-top: 70px;
    margin-left: 9%;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 55px;
    }
div.p2 {
    margin: center;
    width: 25%;
    height: 300px;
    text-align: center;
    background-color: #ffffff;
    border: 2px dashed black;
    font-weight: bold;
    padding-top: 25px;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 55px;
    }
div.p3 {
    margin: right;
    width: 25%;
    height: 300px;
    text-align: center;
    background-color:#ffffff;
    border: 2px dashed black;
    font-weight: bold;
    padding-top: 25px;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 9%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 55px;
}
.p1 img{
    display: block;
    margin: auto;
    height: 155px;
}
.p2 img{
    display: block;
    margin: auto;
    height: 155px;
}
.p3 img{
    display: block;
    margin: auto;
    height: 155px;
}
div.a {
    position: relative  ;
    background-color: blue;
    height: 40px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
div.a h3{
    color: blanchedalmond;
    font-style: normal;
    position: relative;
}
div.b {
    background-color: white;
    border: black;
    border-style: inset;
    position: relative;
    height: 200px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center; 
    padding-top: 100px;
}
div.c{
    background-color: red;
    position: relative;
    height: 40px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
span.c{
    color: white ;
    text-anchor: middle;

}
div.cuadro{
    position: relative;
    border 5px black solid;
    width: 300px;
    height: 300px%;
    background-color: #da3939;
}
div.bola1 {
    position: absolute;
    background-color: #a8ebff;
    border: 5px  #da3939 solid;
    height: 55px;
    width: 55px;
    border-radius: 30px;
}
div.bola2 {
    position: absolute;
    background-color: #a8ebff;
    border: 5px  #da3939 solid;
    height: 55px;
    width: 55px;
    border-radius: 30px;
}
div.bola3 {
    position: absolute;
    background-color: #a8ebff;
    border: 5px  #da3939 solid;
    height: 55px;
    width: 55px;
    border-radius: 30px;
}
div.bola4 {
    position: absolute;
    background-color: #a8ebff;
    border: 5px  #da3939 solid;
    height: 55px;
    width: 55px;
    border-radius: 30px;
}